<div class="arrange-horizontally">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-card-title>Decimal editor for angular 6 and reactive forms</mat-card-title>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <mat-card-title>angular 6 directive</mat-card-title>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card style="height:710px">
    <mat-card-header>



    </mat-card-header>
    <mat-card-content>
      <app-sample></app-sample>
    </mat-card-content>
  </mat-card>
</div>
